<!DOCTYPE html>
<html>
{% extends 'base.html' %}
<head>
	{% block content %}
	{% load static %}
	<title>Homepage</title>
	<link rel="stylesheet" href="{% static "app_homepage\style.css" %}">
	
</head>

<body>
	

	<div class="container-fluid" style="margin-top: 62px">
		<div class="header">
		
			<div id="header_photo">
				<img class="img-fluid" src="{% static "app_homepage\profile.png" %}" alt="Profile Photo" title="Profile Photo" width="180" height="180">
			</div>
			
			<div id="header_name_desc">
				<h1 style="font-size:4vw">Muhammad Al-Kautsar Maktub</h1>
				<p class="p-responsive">I'm a student from System Information University of Indonesia</p>
			</div>
			
			<div id="header_socmed">
				<p class="p-responsive">
					<b>Reach me on:</b> 
					<br><a href="https://www.facebook.com/muhammad.alkautsar.568"><img class="icon-responsive" src="{% static "app_homepage\facebook.png" %}" alt="Facebook Icon" title="Facebook"></a>

					<a href="https://twitter.com/alkautsr"> <img class=" icon-responsive" src="{% static "app_homepage\twitter.png" %}" alt="Twitter Icon" title="Twitter"></a>

					<a href="https://www.instagram.com/alkautsrm/"> <img class="icon-responsive"src="{% static "app_homepage\instagram.png" %}" alt="Instagram Icon" title="Instagram"></a>
				</p>
			</div>
		</div>
		
		
		<div class="body_information">
			
			<div id="body_information_sidebar">
				<h3 class="h3-responsive" id=body_information_sidebar_title>Contact</h3>
				<p class="p-responsive"> 
					<img class=" icon-responsive" src="{% static "app_homepage\gmail.png" %}" alt="Gmail Icon" title="Gmail" width="50" height="50"> alkautsarm@gmail.com <br> 
					<img class=" icon-responsive" src="{% static "app_homepage\phone.png" %}" alt="Phone Icon" title="Phone" width="50" height="50"> +6282280562032 <br> 
					<img class=" icon-responsive" src="{% static "app_homepage\line.png" %}" alt="Line Icon" title="Line" width="50" height="50"> alkautsarm
				</p>
				
				<h3 class="h3-responsive" id="body_information_sidebar_title">Skills</h3>
				<p class="p-responsive" style="padding-left: 10px;">
					Java<br>Python<br>C++
				</p>
			</div>
		
			<div id="body_information_maininformation">
				<h3 class="h3-responsive">About</h3>
				<p class="p-responsive" id="body_information_maininformation_aboutinfo">
					I'm from System Information University of Indonesia. I like to learn many things. I like to do sports, programming, etc. I'm an opitimistic person.
				</p>
				
				<p  class="p-responsive"><button class="button-responsive" style="font-size: 1vw"><a href="\detail">Detail</a></button></p>
			</div>
			
		</div>
	</div>
	{% endblock %}
</body>
</html>