<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
	{% block content %}
	{% load static %}
	<title>Alka's Blog</title>
	<link rel="stylesheet" href="{% static "app_blog\style.css" %}">
</head>
<body>

		<div id="blog_body">
			<dropdown-menu>
				<div class="dropdown">
			  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    		My Work
			  			</button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">My Photos</a>
				    <a class="dropdown-item" href="#">My Blog</a>
				  </div>
				</div>
			</dropdown-menu>
			
			<blog-content>
				<h4>Bahasaku Bahasaku, Bahasamu Bahasamu</h4>
				<p text-align:justify>
				“Gua sebenarnya rada confuse gitu sih, which is gua rada kurang understand gitu.” <br>
				“Ya actually gua juga ga tau apa yang literally lo maksud.”<br>
				Percakapan diatas atau yang semacam diatas memang terkadang tidak asing di telinga kita. Bahkan bukan hanya di telinga, bisa jadi mulut kita pun mempraktikkannya. 
				</p>
				<button type="submit" class="btn btn-danger btn-sm">Read More...</button>
			</blog-content>
			
				  <comment-section>
				  	<div class="form-group">
				  	  <label for="exampleFormControlTextarea1">Comment</label>
				  	  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				  	  	</div>
				  	  	<button type="submit" class="btn btn-dark btn-lg">Submit</button>
				  </comment-section>
		</div>
		{% endblock %}
</body>
</html>