<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
	{% block content %}
	{% load static %}
	<title>Lihat Jadwal</title>
	<link rel="stylesheet" href="{% static "app_form\style.css" %}">
</head>

<body class="main-position">
	<h3>Jadwal Kegiatan</h3><br>
	<ul>
		{% for kegiatan in display %}
		    <li class="list-group-item list-group-item-dark">Nama Kegiatan : {{ kegiatan.kegiatan_nama }}</li>
		    <li class="list-group-item list-group-item-light">Kategori Kegiatan : {{ kegiatan.kegiatan_kategori }}</li>
		    <li class="list-group-item list-group-item-light">Waktu Kegiatan : {{ kegiatan.kegiatan_waktu }}</li>
		    <li class="list-group-item list-group-item-light">Tempat Kegiatan : {{ kegiatan.kegiatan_tempat }}</li><br>
		{% endfor %}
	</ul><br>
	<a href="{% url 'delete_jadwal' %}"><button type="button" class="btn btn-danger btn-sm right">Delete All...</button></a>
{% endblock %}
</body>
</html>
