<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
	{% block content %}
	{% load static %}
	<title>Pengisian Jadwal</title>
	<link rel="stylesheet" href="{% static "app_form\style.css" %}">
</head>
<body class="main-position">
	<h3>Tambah Jadwal Kegiatan</h3><br>
	<form method="POST" action="">
		{% csrf_token %}
		{{ form }}
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
{% endblock %}
</body>
</html>
