html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.header {
	display: grid;
	grid-template-columns: auto auto auto;

	color: white;

	background-image: url(http://www.pekebuba.com/wp-content/uploads/2017/10/header-image-1.png);
}

.icon-responsive {
	height: 4vw;
	width: 4vw;
}

.p-responsive {
	font-size:2vw;
}

.h3-responsive {
	font-size: 2.5vw;
}

.button-responsive {
	size: 2vw;
}

#header_photo {
	text-align: center;
}

.body_information {
	display: grid;
	grid-template-columns: auto auto;
}

#body_information_sidebar {
	display: grid;
	color: white;
	grid-auto-rows: auto;
	background-color: #C74548FF;
}

#body_information_sidebar_title {
	text-align: center;
	background-color: #6F2E3DFF;
}

#body_information_maininformation {
	padding-left: 10px;
	margin-left: auto;
}

#body_information_maininformation_aboutinfo {
	margin-bottom: 60px;
}

.body_education {
	display: grid;
	grid-template-rows: auto auto;
}
	
#detail_body_title {
	color: white;
	background-color: #854B4CFF;
	text-align: center;
}

#body_edu_info {
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
}

#body_org_info {
	display: grid;

	margin-right: 250px;
	margin-left: 250px;
	grid-template-columns: auto auto;
}

#org_info_detail {
	display: grid;
	
	grid-template-rows: auto auto;
}

#org_info_detail>div {
	display: grid;
	grid-template-columns: auto auto;
}

#blog_body {
	display: grid;
	margin: 100px 250px 250px;
	border-style: ridge;
	grid-template-rows: auto auto auto;
}

#blog_body>dropdown-menu {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}

#blog_body>blog-content {
	margin-left: 100px;
	margin-right: 100px;
	font-size: 20px;
}

#blog_body>comment-section {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
}

#guest_body {
	border-style: ridge;
	padding: 50px 100px 100px;
	margin: 100px 250px 250px;
	
}

#guest_body>dropdown-menu {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}