<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

	<!--Navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		

		<span class="navbar-brand">Alka's Website</span>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>

		<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     	
     	<li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="\blog">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="\guestbook">Guest Book</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">Jadwal Kegiatan</a>
        <div class="dropdown-menu bg-dark">
          <a class="dropdown-item text-white" href="\jadwal-kegiatan">Lihat Jadwal</a>
          <a class="dropdown-item text-white" href="\tambah-kegiatan">Tambah Jadwal</a>
        </div>
      </li>
    </ul>
  </div>
	</nav>
	<!--Navigation Bar-->
	
  <div>
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>