<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
	{% block content %}
	{% load static %}
	<title>Guest Page</title>
	<link rel="stylesheet" href="{% static "app_guestbook\style.css" %}">
</head>

<body>
	<div id="guest_body">
		<dropdown-menu>
			<div class="dropdown">
		  		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	Guest Book
		  		</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">My Photos</a>
					<a class="dropdown-item" href="#">My Blog</a>
				</div>
			</div>
		</dropdown-menu>
		
		<form action="/action_page.php">
		  <div class="form-group">
		    <label for="name">Name:</label>
		    <input type="name" class="form-control" id="name">
		  </div>
		  <div class="form-group">
		    <label for="date">Today's Date:</label>
		    <input type="date" class="form-control" id="date">
		  </div>
		  <div class="form-group">
		    <label for="email">Email address:</label>
		    <input type="email" class="form-control" id="email">
		  </div>
		  <div class="form-group">
		    <label for="subject">Subject:</label>
		    <input type="subject" class="form-control" id="subject">
		  </div>
		  <div class="form-group">
		  	<label for="message">Message:</label>
		  	<textarea class="form-control" id="message" rows="3"></textarea>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	{% endblock %}
</body>
</html>