<!DOCTYPE html>
<html>
{% extends 'base.html' %}
<head>
	{% block content %}
	{% load static %}
	<title>Detail</title>
	<link rel="stylesheet" href="{% static "app_detail\style.css" %}">
</head>

<body>
	<div class="container-fluid" style="margin-top: 60px">
		<div class="body_education">
			<h1 id="detail_body_title">Education</h1>
			<div id="body_edu_info">
				<h4><img src="{% static "app_detail\sd.png"%}" alt="sd" height="180"><br>SD Al-Kautsar</h4>
				<h4> <img src="{% static "app_detail\smpn.jpg"%}" alt="smp" height="180"><br>SMPN 2 Bandar Lampung</h4> 
				<h4> <img src="{% static "app_detail\sman.png"%}" alt="sma" height="180"><br>SMAN 9 Bandar Lampung</h4>
				<h4> <img src="{% static "app_detail\ui.png"%}" alt="ui" height="180"><br>Universitas Indonesia</h4>
			</div>
		</div>
		
		<div class="body_education">
			<h1 id="detail_body_title">Organization / Committe</h1>
			<div id="body_org_info">
				<div id="org_info_detail">
			
					<div>
						<img src="{% static "app_detail\bem.png"%}" alt="bem" height="100">
						<h6> Staf Kajian dan Aksi Strategis BEM Fasilkom UI 2018</h6>
						<img src="{% static "app_detail\saimala.png"%}" alt="saimala" height="100">
						<h6> Sekretaris Saimala UI 2018</h6>
					</div>
					
				</div>
				<div id="org_info_detail">
					<div>
						<img src="{% static "app_detail\saimala.png"%}" alt="saimala" height="100">
						<h6>VPO TOBK SAIMALA EL Dorado 2019</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>
</html>